
body {
  font-family: "宋体";
}

/* 头部 */
header {
  background-color: #f8f8f8;
  line-height: 28px;
  border-bottom: 1px solid rgb(202, 201, 201);
  z-index: 9999;
}

header .nav-left {
  float: left;
}

header .nav-left a {
  float: left;
  text-decoration: none;
  padding: 4px 12px;
  margin: 4px 0;
  line-height: 12px;
  border-left: 1px solid rgb(202, 201, 201);
}

header .nav-left a:first-of-type {
  border-style: none;
}

.to-left {
  float: left;
}

.nav-cur {
  background-color: white;
  margin: 0;
  padding: 0 12px;
  line-height: 28px;
  border: 1px solid rgb(202, 201, 201);
  border-bottom: none;
}

.nav-cur-after {
  border: none;
}

/* 头部右侧  */
.nav-right {
  float: right;
}

.nav-right a {
  display: block;
}

header  ul {
  list-style-type: none;
  margin: 0;
}

header ul li {
  float: left;
}

a[class="login"] {
  display: inline-block;
}

#register {
  float: left;
}

.drop-li {
  position: relative;
  float: left;
  margin: 0 15px;  /* 右侧间距 */
}

/* 头部右侧下拉框及其箭头 */
.drop-li .drop-li-t {
  visibility: hidden;
  width: 120px;
  background-color: white;
  border: 1px solid rgb(202, 201, 201);
  position: absolute;
  z-index: 1;
  left: 50%;
  margin-left: -60px;
  text-align: left;
}

.drop-li .drop-li-t1 {
  width: 70px;
  margin-left: -35px;
}

.drop-li .drop-li-t::after {
  content:"";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent rgb(202, 201, 201) transparent;
}

/* 头部下拉框位置  */
.drop-li:hover .drop-li-t {
  visibility: visible;
  cursor: pointer;
}

.drop-li .drop-li-t a {
  padding-left: 27px;
}

.drop-li .drop-li-t1 a {
  padding-left: 6px;
  line-height: 26px;
}

header .nb-item {
 margin-top: 8px;
 margin-left: 10px;
 line-height: 20px;
}


/* 背景图案组 */
.nb-item,.nb-arrow {
 background: url(../images/header/navbar.png) no-repeat;
}

/* 头部下拉框背景 */
.nb-item-pc {
  background-position: -5px -122px;
}

.nb-item-weibo {
  background-position: 0 -183px;
}

.nb-item-qq {
  background-position: -5px -154px;
}

.nb-item-wechat {
  background-position: 0 -243px;
}

header .nb-item-pc {
  border-bottom: 1px dashed rgb(202, 201, 201);
}

/* 旋转箭头  */
.nb-arrow {
  display: inline-block;
  width: 5px;
  height: 3px;
  vertical-align: middle;
  background-position: -16px -20px;
}

.drop-li:hover .nb-arrow {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transition: .25s;  
  -webkit-transition: .25s;
  -moz-transition: .25s;
  -o-transition: .25s;
}

/* 主体导航区 */
main>nav #nav-logo {
  display: block;
  background: url(../images/header/logo_20170330.jpg) no-repeat;
  width: 210px;
  height: 77px;
  margin: 20px auto;
}

main>nav #main-nav {
  background-color: black;
}

#main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#main-nav ul li {
  float: left;
}

#main-nav a {
  display: inline-block;
  padding: 0 24px;
  margin: 11px  0;
  text-decoration: none;
  font-size: 15px;
  color: white;
  border-right: 1px solid #acacac;
  line-height: 1;
}
#main-nav ul a:hover {
  color: rgb(196, 26, 187);
}

/* indexpic 全局图片组 */
.search, .todayFocus>h2, .mainTittle, .colName>a, .listNum{
  background: url(../images/global/indexPic.png) no-repeat;
}

.beautyName>span {
  background: url(../images/pclady/beauty/beauty.png) no-repeat;
}

.myapp,.weixin,.weibo {
  background: url(../images/global/sprite.png) no-repeat;
}

/* 导航区搜索框 */
main>nav form {
  float: right;
  margin: 0 10px 0 0;
  padding: 0;
  line-height: 37px;
}

.inpText,.search {
  position: relative;
  margin: 0;
}

.inpText {
  z-index: 1;
  border-radius: 5px;
  border: none;
  padding: 2px 0 2px 2px;
}

.search {
  z-index: 2;
  width: 17px;
  height: 17px;
  border: none;
  background-position: 0 -380px;
  text-indent: -9999px;
}

/* 导航
*  首页子分类
*/
main nav {
  position: relative;
}

.navBox {
  position: relative;
  z-index: 1;
}

.navBox .navBoxName {
  float: left;
  position: relative;
  width: 120px;
  margin: 14px 0;
  padding: 0 0 0 15px;
  border-right: 1px solid rgb(202, 201, 201);
}

.navBox .box-app {
  text-decoration: none;
  font-size: 12px;
  padding: 4px 0 4px 28px;
  line-height: 20px;
}

.navBox .myapp {
  background-position: -180px 1px;
}

.navBox .weixin {
  background-position: -177px -34px;
}

.navBox .weibo {
  background-position: -177px -68px;
}

.navBox .qr-code {
  box-sizing: border-box;
  width: 152px;
  height: 152px;
  visibility: hidden;
  position: absolute;
  z-index: 99;
  top: 28px;
  padding: 0 10px;
  background-color: white;
  border-top: 1px unset rgb(202, 201, 201);
}

.navBox .navBoxName:hover .qr-code {
  visibility: visible;
}

/* 导航子分类弹出 */
.nav-channel {
  position: relative;
  z-index: 2;
}

.nav-channel ul {
  list-style-type: none;
  margin: 0;
  padding: 0; 
}

.nav-channel li {
  display: none;
  overflow: auto;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #fff;
}

.nav-channel a {
  text-decoration: none;
  float: left;
  font-size: 12px;
  margin: 14px 0 14px 10px;
  padding: 0 10px 0 0;
  border-right: 1px solid rgb(202, 201, 201);
}

.nav-channel .show {
  display: block;
}

/* 轮播图 */
.carousel, .slide-wrap, .imgWrap, .first-pic {
  position: relative;
}

.prev, .next, .pic,.circle-ctrl, .imgWrap span {
  position: absolute;
}

.imgWrap {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: inline-block;
}

.imgWrap img {
  width: 100%;
}

.imgWrap .pic {
  top: 0;
  left: 100%;
}

.imgWrap span { /* 轮播图文字 */
  width: 80%;
  text-align: center;
  margin: 0 10%;
  bottom: 35px;
  font-weight: 500;
  color: white;
  text-shadow: 0 0 3px #5a4545;
}

.imgWrap ul {
  list-style-type: none;
}

.circle-ctrl span {
  display: inline-block;
  width: 9px;
  height: 9px;
  margin: 0 5px;
  background-color: rgb(202, 201, 201);
}

.circle-ctrl .cur-rec {
  background-color: rgb(196, 26, 187);
}

.circle-ctrl {
  width: 100%;
  text-align: center;
  bottom: 12px;
  z-index: 998;
}

.prev, .next {
  display: block;
  width: 37px;
  height: 73px;
  z-index: 999;
  top: 40%;
}

.prev {
  background: url(../images/global/new-prev01.png) no-repeat;
  left: -38px;
}

.next {
  background: url(../images/global/new-next01.png) no-repeat;
  right: -38px;
}

.slide-wrap {
  overflow: hidden;
}

.carousel:hover .prev {
  transform: translateX(38px);
  -webkit-transform: translateX(38px);
  -moz-transform: translateX(38px);
  -o-transform: translateX(38px);
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
}

.carousel:hover .next {
  transform: translateX(-38px);
  -webkit-transform: translateX(-38px);
  -moz-transform: translateX(-38px);
  -o-transform: translateX(-38px);
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
}

.carousel:hover .imgWrap {
  opacity: 0.8;
}


/* 今日焦点 */
.picModules {
  position: relative;
}

.todayFocus {
  margin-top: 20px;
}

.todayFocus>h2 {
  background-position: -80px -460px;
  width: 253px;
  height: 31px;
  text-indent: -9999px;
  margin: 20px;
}

.hoverOpacity:hover {
  opacity: 0.8;
}

.picTittle {
  width: 90%;
  color: white;
  margin: 0 5%;
  text-align: center;
  text-shadow: 0 0 2px black;
}

/* 含边框列表模块one */
.listModuleOne {
  border: 8px solid #f6f6f8;
  padding: 8px;
}

.listModuleOne a {
  text-decoration: none;
  font-size: 11px;
  line-height: 1.8;
}

.listModuleOne h5 {
  margin-left: 10px;
  font-weight: bold;
}

.listModuleOne p {
  font-size: x-small;
  color: #acacac;
  margin-left: 30px;
}

.listModuleOne span {
  display: inline-block;
  text-align: center;
}

.listModuleOne video {
  width: 95%;
}

/* 带横向的标题 */
.bor-tittle {
  height: 12px;
  margin-bottom: 22px;
  border-bottom: 1px solid #888;
  position: relative;
  text-align: center;
  
}
.bor-tittle span {
  padding: 0 10px;
  background-color: #f6f6f8;
  font-size: 20px;
}

/* 今日焦点 灰色背景板块 */
.bgGray {
  background-color: #f6f6f8;
  padding: 20px;
}

.clearMargin {
  margin-left: 0;
}

#small-carousel .circle-ctrl{
  position: relative;
}

.carousel a {
  text-decoration: none;
}

.carousel p {
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
}

.carousel .ca-detail {
  font-weight: lighter;
}

#small-carousel .prev, #small-carousel .next {
  top: 25%;
}

.good-rec {
  margin-bottom: 10px;
  line-height: 40px;
  font-size: 2.4px;
}

/* 标准栏目设置 */


.colName,.bg-head{
  border-bottom: 1px solid black;
  height: 56px;
  margin: 20px 0;
}

.colName>a,
.bg-head>span{
  display: block;
  width: 377px;
  height: 56px;
  margin: 0 auto;
}

.colNav {
  width: 100%;
  text-align: center;
  margin: 0;
}

.colNav ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.colNav li {
  float: left;
  text-align: center;
  line-height: 1;
  border-left: 2px solid #acacac;
}

.colNav li a {
  margin: 0 28px;
  font-size: 16px;
  text-decoration: none;
}

.colNav li:first-child {
  border-left: none;
}


/* 特别策划 */
#specialPlan{
  background-position: -70px -832px;
}

#threeCarousel {
  height: 300px;
}

.imgWrap .pic {
  top: 0;
  width: 100%;
  margin-left: 100%;
}

#threeCarousel .circle-ctrl{
  position: relative;
  bottom: 20px;
}

#threeCarousel .prev, #threeCarousel .next {
  top: 25%;
}

/* 美容 */
#beauty {
  background-position: -70px -903px;
}

.listNoType {
  margin: 0 0 0 10px;
  padding: 0;
  list-style-type: none;
}

/* 定义列表数字图案 */
.listNum {
  padding-left: 30px;
  font-size: 15px;
  margin: 5px 0;
}

.listNum:nth-child(1) {
  background-position: -440px 6px;
}

.listNum:nth-child(2) {
  background-position: -440px -196px;
}

.listNum:nth-child(3) {
  background-position: -440px -36px;
}

.listNum:nth-child(4) {
  background-position: -440px -236px;
}

.listNum:nth-child(5) {
  background-position: -440px -76px;
}

.listNum:nth-child(6) {
  background-position: -440px -276px;
}

.listNum:nth-child(7) {
  background-position: -440px -116px;
}

/* 列表浮动 */
.listNum:hover {
  transform:translateX(10px);
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -o-transform: translateX(10px);
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
}
.listNum:hover a{
  color: black;
  opacity: 0.5;
}

.toBottom {
  position: relative;
  bottom: 0;
}

.mb-30 {
  margin-bottom: 30px;
  overflow: auto;
}

/* 美容区右侧滑动块 */
.height-515 {
  height: 515px;
}

/* 时尚区 */
#fashion {
  background-position: -129px -60px;
  width: 285px;
}

.mb-10 {
  margin-bottom: 10px;
  overflow: auto;
}

.mt-25{
  margin-top: 25px;
}

/* footer */
.ft {
  font-size: 13px;
  color: #acacac;
  margin: 10px 20px;
}

.current {
  font-size: 16px;
  font-weight: bolder;
  color: black;
}

.content {
  font-size: 1px;
  margin: 20px 0;
}

.content a {
  text-decoration: none;
}

.content a:hover {
  color: #acacac;
  text-decoration: underline;
}

.content a::after {
  content: "|"
}

.cb-a {
  width: 69% !important;
}
.cb-b {
  width: 27% !important;
}
.height-570 {
  height: 570px;
}

.height-220 {
  height: 220px;
}

.tittle-shadow {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  line-height: 20px;
  font-size: 16px;
  text-align: center;
  padding-top: 25px;
  background: url(../images/global/star_shadow_bg.png) repeat-x center bottom;
}

.bgWhite {
  border-color: black;
}
.bgWhite>span {
  background-color: #fff;
}

.cb-c {
  width: 24% !important;
}

.font10 {
  font-size: 10px;
  line-height: 40px;
}

.line2 {
  line-height: 1.5;
}
.line2>li {
  margin: 19px 0;
}
.line2 a {
  font-size: 15px !important;
}

.fashionName span {
  background: url(../images/pclady/fashion/dress.png) no-repeat;
}

.loveFashion .fashionName span{
  width: 436px;
  background-position: 0 0;
}

.listModuleOne .listNoType li {
  position: relative;
}

.listModuleOne .listNoType li i {
  background: url(../images/pcgroup/common.png) no-repeat;
  width: 18px;
  height: 17px;
  position: absolute;
  display: block;
  left: 0;
  top: 6px;
}
.listModuleOne .listNoType li .i8 {
  background-position: -384px -245px;
}
.listModuleOne .listNoType li .i9 {
  background-position: -384px -282px;
}

.listModuleOne .listNoType li .i10 {
    width: 24px;
    background-position: -376px -324px;
}

.starName>span {
  background: url(../images/pclady/star/star.png) no-repeat;
}

.starTopic .starName>span {
  width: 321px;
  height: 56px;
}

.starMovie .starName>span {
  width: 393px;
  height: 56px;
  background-position: 0 -114px;
}

.wt-27 {
  width: 27.7% !important;
}
.wt-36 {
  width: 36.6% !important;
}

.register {
  width: 100%;
  background-color: #fff;
}

.register header {
  min-width: 800px;
}

.register-left {
  float: left;
}

.register-right {
  float: right;
}

.register .logo {
  float: left;
  background: url(../images/global/login_logo2.png) no-repeat;
  width: 122px;
  height: 51px;
  margin: 5px 22px 0;
}

.register .mark {
  float: left;
  font: 700 22px/65px "Microsoft YaHei";
  height: 65px;
}

.register .right {
  float: right;
}

.register .submark {
  float: right;
  font-size: 14px;
  line-height: 26px;
  margin: 21px 0 0;
}

.mainPic, input[name="account"], input[type="password"] {
  background: url(../images/global/main.png) no-repeat;
}

.submark .mainPic {
  width: 19px;
  height: 27px;
  float: left;
  margin-right: 6px;
  background-position: 0 -251px;
}

header[class~="mainPic"] {
    background-position: 0 -99px;
    background-repeat: repeat-x;
    color: #333;
}

.register main {
  background: url(../images/global/pclady2015.jpg) no-repeat center;
  height: 601px;
}

.loginBox {
  float: right;
  margin-top: 60px;
  margin-right: 35px;
  width: 325px;
  height: 420px;
  background-color: #fff;
}

.loginBox .bgGray {
  padding: 0 0 15px 0;

}

.loginBox .a-btn>p {
  margin-bottom: 15px;
}

.a-btn {
  padding: 30px 25px 0;
}

.d-btn {
  height: 90px;
  text-align: center;
}

.alogin {
  float: left;
  margin-right: 38px;
  text-decoration: none;
  background: url(../images/global/pins.png) no-repeat;
  font-size: 12px;
  font-family: "宋体";
}

.alogin:last-child {
  margin-right: 0;
}

.alogin:nth-child(2){
  background-position: -64px 0;
}

.alogin:nth-child(3){
  background-position: -128px 0;
}

.alogin span {
  width: 62px;
  height: 62px;
  margin-bottom: 8px;
  display: block;
}

#loginform {
  padding: 25px;
}

input[name="account"] {
  padding: 5px 0 5px 30px;
  width: 275px;
  box-sizing: border-box;
  background-position: -125px -223px;
}

input[type="password"] {
  padding: 5px 0 5px 30px;
  width: 275px;
  box-sizing: border-box;
  background-position: -123px -257px;
}

#loginform input[type="submit"] {
  width: 275px;
  box-sizing: border-box;
  padding: 5px 0;
  background: black;
  font-size: 16px;
  color: #fff;
}

#formfoot {
  width: 100%;
  font-size: 12px;
  color: #888;
}

#formfoot a:link {
  text-decoration: none;
}

#formfoot a:hover {
  text-decoration: underline;
  color: red;
}


#formfoot a:first-child {
  float: left;
}

#formfoot a:last-child {
  float: right
}
